.left-box {
  justify-content: flex-start;
}

.right-box {
  justify-content: flex-end;
}

.game {
  background: rgb(255, 255, 255);
  border-radius: 0%;
  width: 80vw;
  height: 80vw;
  position: absolute;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 900px);
  max-height: min(80vmin, 900px);
}
  
  .dpad-container {
    display: grid;
    grid-template-areas:
      ". up ."
      "left center right"
      ". down .";
    gap: 5px;
    align-items: center;
    height: 150px;
  }

  .dpad-button {
    width: 50px;
    height: 50px;
    background-color: #46005f;
    color: #ab5000;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dpad-button:hover {
    background-color: #552866;
  }

  .up {
    grid-area: up;
  }

  .down {
    grid-area: down;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .center {
    grid-area: center;
    background-color: transparent;
    cursor: default;
  }
  
