.screen-boxes {
  flex: 1 calc(100vh - 110px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* Aligns content to the right */
  justify-content: space-around; /* Places content at the top without filling space */
}

.left-box, .right-box {
  flex: 1;
}
.left-box {
  justify-content: left;
  display: flex;
}

.right-box {
  justify-content: right;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.game {
  background: rgb(255, 255, 255);
  border-radius: 1%;
  width: 100%;
  position:relative;
  max-height: min(80vmin, 900px);
  min-height: max(80vmin, 200px);
}
  
  /* .dpad-container {
    justify-content: flex-end;
    display: grid;
    grid-template-areas:
      ". up ."
      "left center right"
      ". down .";
    align-items: center;
    height: 150px;
  }

  .dpad-button {
    width: 50px;
    height: 50px;
    background-color: #46005f;
    color: #ab5000;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dpad-button:hover {
    background-color: #552866;
  }

  .up {
    grid-area: up;
  }

  .down {
    grid-area: down;
  }

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
  }

  .center {
    grid-area: center;
    background-color: transparent;
    cursor: default;
  } */
  
